

.fixed-size-table {
    width: 80%; /* Ajusta según tus necesidades */
    table-layout: fixed;
    margin: 0 auto;
}

.fixed-size-table th, .fixed-size-table td {
    width: 33.33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

